.logo img {
  width: 20%;
  padding-left: 5vh;
}
.navbar {
  padding-top: 5vh;
}
.navbar ul,
.navbar li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  /* font-size: 2vh; */
  list-style-type: none;
  text-decoration: none;
  color: #0d1110;
}
.navbar a:hover {
  color: #fe5e00;
}
.deconnexion button {
  color: #ffffff;
  background-color: #fe5e00;
  border-radius: 15vh;
  border: none;
  margin-left: 2%;
  margin-top: 2%;
}
.deconnexion button:hover {
  background-color: #0d1110;
}
@media screen and (max-width: 490px) {
  .logo img {
    width: 60%;
    padding-left: 20%;
  }

  .navbar {
    padding-right: 10%;
  }
  .navbar li {
    display: flex;
    justify-content: space-around;
  }

  .navbar a {
    font-size: 80%;
  }
  .navbar a:hover {
    font-size: 80%;
    border-radius: 15vh;
    color: #ffffff;
    background-color: #fe5e00;
    /* background-color: #fe5e00; */
  }
}
