.leon {
  padding-top: 6%;
  display: flex;
  justify-content: space-around;
  padding-left: 6.5%;
  flex-wrap: wrap;
  /* border: 2px solid rgb(88, 25, 198); */
  position: relative;
  width: 90%;
  height: 100%;
}
.leon1 a {
  /* padding-bottom: 2%; */
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  /* padding-left: 6.5%; */
  /* flex-wrap: wrap; */
  /* position: relative; */
  /* width: 50%; */
  /* height: 100%;
  background-color: blue; */
}
/* @media screen and (max-width: 490px) {
  
  } */
