.container-connection-inscrition {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  padding-top: 2%;
}
.title {
  display: flex;
  justify-content: center;
}
.bloc {
  display: flex;
  justify-content: space-around;
}
.connection {
  padding: 5vh;
}

.connection input {
  display: flex;
  flex-direction: column;
  padding: 0.2vh;
}
.email,
.password,
.a,
.b,
.c,
.d {
  width: 150%;
}
.inscription {
  padding: 5vh;
}

.password,
.buttonc {
  margin-top: 2vh;
}
.buttonc {
  background-color: #fe5e00;
  border-radius: 15vh;
  color: #ffffff;
  border: none;
  font-size: 2.5vh;
}

@media screen and (max-width: 490px) {
  .bloc {
    flex-wrap: wrap;
  }
  .email,
  .password,
  .a,
  .b,
  .c,
  .d {
    width: 100%;
  }

  .buttonc {
    font-size: 1.5vh;
  }

  .buttonc:hover {
    font-size: 1.5vh;
    background-color: #0d1110;
  }
}
