.title-team {
  display: flex;
  justify-content: center;
  padding-top: 2.1%;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 2%;
}
.cardo {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-right: 5vh;
  padding-top: 2vh;
}

@media screen and (max-width: 490px) {
  .title-team {
    padding-top: 6%;
  }
}
