.bloc-admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2%;
}
.bloc-admin h2 {
  padding-bottom: 2%;
  padding-left: 45%;
}
.bloc-admin td {
  padding-left: 9%;
}
.admin-mail {
  display: flex;
  justify-content: center;
  /* padding-left: 30%; */
  margin-top: 8%;
}
/* .admin-mail tr{
  padding: ;
} */
.admin-bol {
  margin-left: 112%;
  padding-bottom: 5%;
  color: #fe5e00;
  font-size: 110%;
}

.bloc-admin tr,
.bloc-admin td {
  background-color: #fe5e00;
  color: #ffff;
  font-size: 110%;
}
/* .bloc-admin td{
  background-color: red;
} */
